<h1>Home Page</h1>
@* Bu durumda index.cshtml Render edildiğinde buradaki h1 içeriği doğrudan RenderBody()'nin içerisine kopyalanacak, @section Header ise RenderSection()'da kopyalanacak yerini tanımlamış olduk böylelikle *@
@section Header {
    @await Html.PartialAsync("_Header")
}
