<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @RenderSection("Styles", false)  @* İsteğe bağlı stil dosyalarını eklemek için bir bölüm ekliyoruz *@
    <title>Document</title>
  </head>
  <body>
    <header>
        @await Html.PartialAsync("_Navbar")  <!-- _Navbar.cshtml dosyasını buraya ekliyoruz -->
        @RenderSection("Header",false) <!-- İsteğe bağlı bir header alanı ekliyoruz -->
    </header>

    <div class="container mt-3">
      <main>
       <!-- Course/index.cshtml içerisinde kopyalayıp buraya getirdik  ve Değişecek olan kısım bu bu yüzden buranın içeriğini silip bunu ekleriz-->
        @RenderBody()


      </main>
    </div>
  </body>

   @RenderSection("Scripts", false) <!-- İsteğe bağlı script dosyalarını eklemek için bir bölüm ekliyoruz -->
</html>

